# Virtual Environment
.venv/
env/
venv/

# Environment Variables & Passwords
.env

# Python Cache & Bytecode
__pycache__/
*.pyc
.pytest_cache/

# Logs
logs/
*.log

# Data Files & Databases
data/raw/
data/processed/
data/bad_records/
data/archive/
*.db

# IDE Configs
.vscode/
.idea/
